.content-tagsistemas_index .usuário {
  opacity: 1.0;
}

.content-tagsistemas_index .header {
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 9px;
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-tagsistemas_index .title {
  color: #0D0D0D;
  font: 700 24px Roboto;
  cursor: default;
}

.content-tagsistemas_index .table {
  height: 500px;
  width: 540px;
  overflow: auto;
}

.content-tagsistemas_index .link {
  color: #0D0D0D;
  border: 2px solid #0D0D0D;
  padding: 5px 10px;
  margin-top: 7px;
  margin-left: 20px;
  font: 20px Roboto;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  width: 500px;
  cursor: pointer;
}

.content-tagsistemas_index .button {
  background-color: #0D0D0D;
  padding: 8px  28px;
  color: #f2f2f2;
  font: 400 18px Roboto;
  border-radius: 8px;
  transition: all 0.2s;
  border: 2px solid #0D0D0D;
}

.content-tagsistemas_index .link:hover {
  background-color: #0D0D0D;
  color: #f2f2f2;
}

.content-tagsistemas_index .button:hover {
  background: none;
  color: #0D0D0D;
  font-weight: bold;
}