.content-tagsistemas_new .usuário {
  opacity: 1;
}

.content-tagsistemas_new form {
  margin-left: 20px;
  width: 500px;
  height: 500px;
}

.content-tagsistemas_new .header {
  margin-left: 20px;
  margin-top: 30px;
  height: 40px;
}

.content-tagsistemas_new .title {
  color: #0D0D0D;
  font: 700 24px Roboto;
  cursor: default;
}

.content-tagsistemas_new input {
  width: 500px;
  height: 32px;
  border-radius: 6px;
  border: solid 2px;
  margin-top: 5px;
  font: 400 18px Roboto;
  padding: 0 8px;
  color: #0D0D0D;
  background-color: #EBEBF2;
}

.content-tagsistemas_new .info {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Roboto;
  font-size: 18px;
}

.content-tagsistemas_new .info .error {
  font: 500 16px Roboto;
  color: #940000;
}

.content-tagsistemas_new .foother {
  margin-top: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-tagsistemas_new .back {
  display: flex;
  align-items: center;
  font: 20px Roboto;
  color: #0D0D0D ;
  transition: all 0.2s;
}

.content-tagsistemas_new .icon {
  margin-right: 5px;
}

.content-tagsistemas_new button {
  padding: 7px 30px 6px 30px;
  border: 0px;
  border-radius: 10px;
  background-color: #0D0D0D;
  transition: all 0.2s;
  cursor: pointer;
}

.content-tagsistemas_new button:hover {
  opacity: 0.9;
}

.content-tagsistemas_new .back:hover {
  opacity: 0.9;
}


